{% extends 'base.html' %}
{% set page_title = "Manage Locations" %}
{% block content %}
    <h1 class="p-4">Manage Locations</h1>
    <div class="mb-4">
        <form action="{{ url_for("location_view.list_locations") }}"
              class="me-4 w-50">
            <div class="input-group">
                <input type="text"
                       id="search"
                       class="form-control"
                       name="search_string"
                       placeholder="Search locations"
                       value="{{ request.args.get('search_string', '') }}" />
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for location in location_list.items %}
                <tr>
                    <td>
                        <a href="{{ url_for('location_view.view_location', id=location.id) }}">{{ location.title }}</a>
                    </td>
                    <td>{{ location.address1 }}, {{ location.city }}</td>
                </tr>
            {% endfor %}
            {% if not location_list.items %}
                <tr>
                    <td colspan="3" class="text-center">No locations found</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    {% with items=location_list, route_args={}, route_name='location_view.list_locations' %}
        {% include 'components/pagination.html' %}
    {% endwith %}
{% endblock %}
