<script type="text/javascript"
        src="{{ url_for('static', filename='js/password_modal.js') }}"></script>
<div id="password-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Password</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="password-form"
              class="needs-validation"
              action="{{ url_for('user_api.update_password', id=user.id) }}"
              method="post"
              onsubmit="changePassword(event)"
              novalidate>
          <div class="row mb-2">
            <label class="col-md-4 col-form-label" for="old-password">Current Password</label>
            <div class="col-md-8 position-relative">
              <input type="password"
                     class="form-control"
                     id="old-password"
                     name="old_password"
                     required>
              <span class="password-toggle" onclick="toggleVisibility('old-password')">
                <i class="fa-regular fa-eye-slash"></i>
              </span>
              <div class="invalid-feedback">Please provide your current password.</div>
            </div>
          </div>
          <div class="row mb-2">
            <label class="col-md-4 col-form-label" for="password">New Password</label>
            <div class="col-md-8 position-relative">
              <input type="password"
                     class="form-control"
                     id="password"
                     name="password"
                     required>
              <span class="password-toggle" onclick="toggleVisibility('password')">
                <i class="fa-regular fa-eye-slash"></i>
              </span>
              <div class="invalid-feedback">Please provide a new password.</div>
            </div>
          </div>
          <div class="row mb-2">
            <label class="col-md-4 col-form-label" for="confirm-password">Confirm Password</label>
            <div class="col-md-8 position-relative">
              <input type="password"
                     class="form-control"
                     id="confirm-password"
                     name="confirm_password"
                     required>
              <span class="password-toggle"
                    onclick="toggleVisibility('confirm-password')">
                <i class="fa-regular fa-eye-slash"></i>
              </span>
              <div class="invalid-feedback">Please confirm your new password.</div>
            </div>
          </div>
        </form>
        <div id="error-message" class="text-danger d-none text-end"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" form="password-form">Update changes</button>
      </div>
    </div>
  </div>
</div>
